- content_for :title, 'Users'
- content_for :action_bar do
  %span= link_to('Add a New User', new_user_path, :class => 'add')

%table
  %thead
    %tr
      %th Avatar
      %th Name
      - if Errbit::Config.user_has_username
        %th Username
      %th.main Email
      %th Admin?
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to gravatar_tag(user, :size => 50, :secure => true, :rating => :pg, :html => { :class => "gravatar" }), user_path(user)
        %td.nowrap= link_to user.name, user_path(user)
        - if Errbit::Config.user_has_username
          %td= user.username
        %td= user.email
        %td= user.admin? ? 'Y' : 'N'
= paginate @users

